html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.title {
    /* O que faz o elemento ficar centralizada na horizontal */
    display: flex;
    justify-content: center;
    /*O "align-items" é o que faz a escrita ficar centralizada na vertical*/
    align-items: center;
    font-size: 50px;
    font-family : "Segoe Ui", Tahoma, Arial, sans-serif;
    color: #18BCEE;
    /*"Font-weight" desativa o negrito do H1*/
    font-weight: normal;
}
.imagem-ie {
    width: 100px;
    height: 100px;
    margin-left: 15px;
    position: relative;
}
#entrada-url {
    border: 2px solid #9c9c9c;
    border-top-color: #c2c2c2;
    border-left-color: #c2c2c2;
    background-color: #ffffff;
    font-family: Tahoma, Arial, sans-serif;
    resize: none;
    border-radius: 30px;
    width: 650px;
    height: 45px;
    font-size: 20pt;
    outline: none;
    /*O que faz dar um recuo nas letras dentro da caixa de texto em todas as linhas*/
    padding-left: 20px;
    padding-top: 8px;
}
button {
    margin-top: 12px;
    padding: 10px 28px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #9c9c9c;
    border-top-color: #c2c2c2;
    border-left-color: #c2c2c2;
    background: linear-gradient(#ffffff, #e6e6e6);
    cursor: pointer;
}
button:hover {
    background: linear-gradient(#f5f5f5, #dcdcdc);
}
button:active {
    background: linear-gradient(#dcdcdc, #f5f5f5);
}
li {
    list-style: none;
}
footer {
    margin-top: auto;
    padding: 20px 10px;

    background-color: #cacaca; /* fundo */
    border-top: 1px solid #5e5e5e; /* separação elegante */

    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: center;
}
p {
    display: flex;
    justify-content: center;
    margin-left: 35px;
}